<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper" class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="green">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div class="container text-right">
            <a class="home justify-content-right" href="/">Home</a>
        </div>
        <h2><b>Email Addresses Entered:</b></h2>
        {% for user in all_users %}
        <p>{{user['email']}} {{user['created_at']}} | <a href="/destroy/{{user.id}}">DELETE</a></p>
        {% endfor %}
    </div>
</body>
</html>